@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Fanwood+Text:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&family=Sofia&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: "Jost", sans-serif;
    behavior: "smooth";
}

@font-face {
    font-family: 'GT Alpina';
    src: url('../fonts/GT-Alpina.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'GT Alpina Extended';
    src: url('../fonts/GT-Alpina-Extended.otf') format('opentype');
    font-style: italic;
}

@font-face {
    font-family: 'GT Alpina Condensed';
    src: url('../fonts/GT-Alpina-Condensed.otf') format('opentype');
    font-style: italic;
}

@font-face {
    font-family: 'Xtradex';
    src: url('../fonts/Xtradex.otf') format('opentype');
}

@font-face {
    font-family: 'Signature-December';
    src: url('../fonts/Signature-December.otf') format('opentype');
}

@font-face {
    font-family: 'Core-Serif';
    src: url('../fonts/Core-Serif.ttf') format('truetype');
}

.p-icon {
    color: #fdfdfd !important;
}

.p-button-icon-only.p-button-rounded {
    background: #202020 !important;
    border-radius: 50% !important;
}

html,
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

.p-toast {
    z-index: 10000 !important;
}

/* Force PrimeVue overlays to be above everything else */
.p-select-overlay,
.p-dropdown-panel,
.p-datepicker-panel,
.p-overlaypanel {
    z-index: 99999 !important;
}